button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent; /* Прозрачный фон */
  color: #28a745; /* Зеленый текст */
  font-size: var(--button-font-size);
  transition: color 0.3s ease, transform 0.3s ease;
}

button:hover {
  color: #218838; /* Более темный зеленый цвет при наведении */
}

button:focus {
  outline: none; /* Убираем обводку */
  box-shadow: none; /* Убираем box-shadow */
}
